security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        App\Entity\OAuth2Client:
            algorithm: bcrypt
            cost: 12

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        oauth2_token:
            pattern: ^/oauth2/(token|revoke|introspect)
            stateless: true
            security: false

        api:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            custom_authenticators:
                - App\Security\OAuth2Authenticator

        oauth2_authorize:
            pattern: ^/oauth2
            stateless: true
            provider: app_user_provider
            custom_authenticators:
                - App\Security\OAuth2Authenticator

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/oauth2/(token|revoke|introspect), roles: PUBLIC_ACCESS }
        - { path: ^/oauth2, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/users/(register|login), roles: PUBLIC_ACCESS }
        - { path: ^/api/clients, roles: ROLE_ADMIN }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
