parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - src/Kernel.php
        - tests/bootstrap.php
        - var/*
        - vendor/*

    # Symfony-specific settings
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    # Additional checks
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    checkExplicitMixedMissingReturn: true
    checkImplicitMixed: true

services:
    -
        class: App\PHPStan\Rules\InterfaceMethodDocRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\Rules\TypedConstantRule
        tags:
            - phpstan.rules.rule
    -
        class: App\PHPStan\Rules\JsonFunctionsMustThrowRule
        tags:
            - phpstan.rules.rule
